.navbar {
  display: flex;
  align-items: center;
  background: #ffea20;
  color: darkslategray;
  font-family: Helvetica;
  font-weight: 300;
}

.navbar__title {
  margin-right: auto;
  font-size: 150%;
  padding: 12px 16px;
}

.navbar__toggle {
  display: none;
  background: none;
  border: none;
  font-size: 24px;
  color: darkslategray;
  cursor: pointer;
}

.navbar__items {
  display: flex;
  flex-direction: row;
}

.navbar__items--visible {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 70px;
  left: 0;
  right: 0;
  background: #ffea20;
}

.navbar__item {
  padding: 16px 16px;
  cursor: pointer;
  vertical-align: middle;
}

.navbar__item a {
  color: darkslategray;
  text-decoration: none;
}

button {
  background-color: #9df1df;
  border: none;
  color: gray;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background: #ffea 20;
  border-radius: 5px;
  color: gray;
}

/* Background color for the main content area */
main {
  background-color: #e3f6ff;
}

/* Media query for responsive design */
@media screen and (max-width: 768px) {
  .navbar {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .navbar__title {
    order: 1;
    margin-right: 0;
  }

  .navbar__item {
    order: 3;
    width: 100%;
    display: none;
  }

  .navbar__item--show {
    display: block;
  }

  .navbar__menu-icon {
    order: 2;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 12px 16px;
    background-color: #ffea20;
    border: none;
    border-radius: 5px;
    color: darkslategray;
  }

  .navbar__menu-icon--close {
    background-color: #ff8d8d;
    color: white;
  }
}
@media only screen and (min-width: 768px) {
  /* hide the button on screens wider than 768px */
  .navbar__menu-icon,
  navbar__menu-icon--close {
    display: none;
  }
}
